recursive-include gen_ai_hub *
include *.txt
include PYPIDESCRIPTION.md
include docs/*.html
include docs/gen_ai_hub/examples/*.ipynb
exclude docs/gen_ai_hub/examples/metering.ipynb
exclude requirements-test.txt
exclude README.md
recursive-exclude tests *
recursive-exclude integration_tests *
exclude MANIFEST.in
